.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

body {
    overflow-y: scroll;
    background-color: #282c34;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.enterCredentials, .makePost {
    height: 100vh;
}

.selected {
    background-color: white;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 100%;
    word-wrap: break-word;
    border: 1px solid black;
}

.post-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-container .centered {
    width: 100%;
}

.user {
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.user:hover {
    border: 4px solid black;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
